.add-to-cart-button {
  box-sizing: border-box;
  height: 40px;
  width: 176px;
  border: 0;
  padding: 0;
  background-color: #313237;
  font-family: 'Mont', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}