.like-button {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-image: url(../../helpers/images/icons/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #b4bdc4;
  cursor: pointer;
  background-color: #fff;

  &:hover {
    border: 1px solid #313237;
  }
}